<div class="word-wrapper">
    <p class="top-band"></p>
    <p class="middle-band"><span class="swastika">&#21328;</span> We must secure an existence for our people and a future for white children.<span class="swastika">&#21328;</span><br />- David Lane</p>
    <p class="bottom-band"></p>
</div>

@code {

}