@page "/articles"
<PageTitle>Articles</PageTitle>
<div style="font-family: 'Germania One'; color: #DE0000; font-size: xx-large; font-weight: bolder;"> Authors</div>
<Tabs>
    <Tab Title="A" IsActive="true">
        <Content>
            <p class="mt-3">This is the placeholder content for authors whose last name starts with <b>A</b>.</p>
        </Content>
    </Tab>
    <Tab Title="B">
        <Content>
            <p class="mt-3">This is the placeholder content for authors whose last name starts with <b>B</b>.</p>
        </Content>
    </Tab>
    <Tab Title="C">
        <Content>
            <p class="mt-3">This is the placeholder content for authors whose last name starts with <b>C</b>.</p>
        </Content>
    </Tab>
    <Tab Title="D">
        <Content>
            <p class="mt-3">This is the placeholder content authors whose last name starts with <b>D</b>.</p>
        </Content>
    </Tab>
</Tabs>